.profile-overlay {
  margin: 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  animation: fadeInLeft 1s;
  height: 100vh;
}

.block-photo {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  display: flex;
}

.inner-block-photo {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.inner-details h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.inner-details p {
  font-size: 0.875rem;
}

.profile-image {
  width: 130px;
  border-radius: 50%;
}

.block-details {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  align-items: start;
}

.form-details {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-title {
  font-size: 0.875rem;
  font-weight: 500;
  color: #333;
  margin-left: 0.2rem;
}

.section-title {
  font-size: 1.4rem;
  margin-bottom: 0.3rem;
}

.block-user-details {
  width: 50%;
  background-color: white;
  padding: 3rem;
  border-radius: 12px;
}

.block-reset-password {
  width: 50%;
  background-color: white;
  padding: 3rem;
  border-radius: 12px;
}

.block-reset-header {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.icon {
  font-size: 2.4rem;
  color: #2e4cd6;
}

.user-details {
  animation: fadeInLeft 2s;
}

.image-box {
  height: 100px;
  width: 100px;
  background-size: cover;
  border-radius: 50%;
  position: relative;
}

input[type='file'] {
  /* Hide the original file input element */
  width: 30px;
  height: 30px;
  opacity: 0;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* Style the button that opens the file dialog */
input[type='file']::-webkit-file-upload-button {
  /* Add some styling to the button */
  background: #4285f4;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.change-image-icon {
  font-size: 2rem;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: all 0.4s;
  opacity: 0;
}

.image-box:hover .change-image-icon {
  opacity: 1;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 750px) {
  .inner-details h2 {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }
  .block-details {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
  }
}
